body{
    background: url("https://www.xmple.com/wallpaper/linear-gradient-blue-white-1920x1080-c2-f5fffa-afeeee-a-195-f-14.svg");
    background-size:cover;
    background-position:top;
    background: cover;
    background-repeat: no-repeat;
}
